# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependências e Build
node_modules/
dist/
dist-ssr/
*.local

# Arquivos de Teste / Scripts locais e Prints gerados
capture.js
*.png
*.jpg
*.jpeg

# Diretórios e arquivos de IDE/Sistemas
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env